# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [96]:
import pandas as pd
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

In [97]:
print(df1.columns, df2.columns, df3.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object') Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object') Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [98]:
#I am making sure that all column names are the same before concating them
df1.columns = [i.lower() for i in df1.columns]
df1.columns = [i.replace(" ", "_") for i in df1.columns]
df2.columns = [i.lower() for i in df2.columns]
df2.columns = [i.replace(" ", "_") for i in df2.columns]
df3.columns = [i.lower() for i in df3.columns]
df3.columns = [i.replace(" ", "_") for i in df3.columns]
df3.columns = [i.replace("state", "st") for i in df3.columns]

In [99]:
#Now I will concat the different data frames
df = pd.concat([df1, df2, df3])

In [100]:
#Checking amount of null values

df.isnull().sum()

customer                     2937
st                           2937
gender                       3059
education                    2937
customer_lifetime_value      2944
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [101]:
#Getting rid of empty rows
df.dropna(how = "all", axis=0, inplace=True)
#Checking amount of null values again
df.isnull().sum()

customer                       0
st                             0
gender                       122
education                      0
customer_lifetime_value        7
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
vehicle_class                  0
total_claim_amount             0
dtype: int64

In [102]:
#We will replace NaN in gender by "not determined"
df.gender.fillna("Not determined", inplace = True)
#Check again null values
df.isnull().sum()

customer                     0
st                           0
gender                       0
education                    0
customer_lifetime_value      7
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [103]:
#We will eliminate rows that have NaN in customer lifetima value
df.dropna(subset = "customer_lifetime_value", inplace=True) #removing rows that do not have a customer lifetime value
df.isnull().sum()

customer                     0
st                           0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [69]:
#Gender column contains various inconsistent values such as "F", "M", "Femal", 
# "Male", "female", which need to be standardized, for example, to "M" and "F".
gender_mapping = {'Femal': "F", 'female': "F", "Male": "M"}
df["gender"] = df["gender"].replace(gender_mapping)

#*State abbreviations be can replaced with its full name, 
#for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
state_mapping = {'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}
df['st'] = df['st'].replace(state_mapping)


#In education, "Bachelors" could be replaced by "Bachelor"
education_mapping = {'Bachelors': "Bachelor"}
df["education"] = df["education"].replace(education_mapping)


#In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
cars_mapping = {"Sports Car" : "Luxury", "Luxury SUV": "Luxury", "Luxury Car": "Luxury"}
df["vehicle_class"] = df["vehicle_class"].replace(cars_mapping)

In [104]:
##CUSTOMER LIFETIME VALUE SHOULD BE NUMERIC
#we first convert all elements in the table into strings (otherwise it won't work)
df["customer_lifetime_value"] = df["customer_lifetime_value"].astype(str)
df["customer_lifetime_value"] = df["customer_lifetime_value"].str.replace("%", "").astype(float)

In [105]:
df["number_of_open_complaints"]=df["number_of_open_complaints"].str.split('/').str[1]

In [106]:
df["number_of_open_complaints"]=pd.to_numeric(df['number_of_open_complaints'], errors="coerce" )

In [110]:
#Check duplicated values
df.duplicated().sum()
#Drop duplicated values
df.drop_duplicates(inplace=True)

In [111]:
df.duplicated().sum()

0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [122]:
import pandas as pd
url9 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df4 = pd.read_csv(url9)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [129]:
# 1

df4_piivot = df4.pivot_table(index="sales_channel", columns="policy_type", values="income", aggfunc='sum')
df4_piivot

policy_type    Corporate Auto  Personal Auto  Special Auto
sales_channel
Agent                33506545      112569012       6414595
Branch               24113520       84588207       5073881
Call Center          17199770       61136074       2719160
Web                  13536670       45884075       2779358

In [125]:
# 2
df4_pivot=df4.pivot_table(index="gender", columns="education", values="customer_lifetime_value", aggfunc='mean')
df4_pivot

education,Bachelor,College,Doctor,High School or Below,Master
gender,,,,,
F,7874.269478,7748.823325,7328.508916,8675.220201,8157.053154
M,7703.601675,8052.459288,7415.333638,8149.687783,8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [71]:
# Your code goes here